<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ruin Raiders Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <h1>Ruin Raiders</h1>
        </header>

        

        <article>
            <h3>What is this?</h3>
            <p>Ruin Raiders is a TTRPG I have been writing in my spare time. It is a post apocalyptic RPG with some cyberpunk elements.</p>

            <h3>Tell Me More</h3>
            <p>In the future, when science and technology reached a level of advancement far beyond the modern day, civilization as we know it ended in an event known as the Great Cataclysm. No one knows what exactly happened, nor do they have any memory of what life was like before it happened.</p>
            <p>Humanity is now limited to cities that are surrounded by wilderness and the remnants of former civilization, the ruins of the Old World. These ruins are buildings, cities, former communities, etc. that have been long deserted but still contain relics, objects that were used in the old world. These could be art, tech, weapons, records, etc. However, there are also various creatures that lurk in these ruins.</p>
            <p>Hunters from the Associations that reside in these cities take on various jobs, whether that be exploring these ruins for relics to take back, rescuing other people that are trapped in a dangerous location, patrolling and defending areas while some activity is going on there, anything that needs a hired gun. You take on the role of a hunter in this society.</p>

    </body>
</html>